<!-- Welcome Area Starts -->
<section class="welcome-area section-padding2">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-6 align-self-center">
              <div class="welcome-img">
                  <img src="assets/images/welcome-bg.png" class="img-fluid" alt="">
              </div>
          </div>
          <div class="col-md-6 align-self-center">
              <div class="welcome-text mt-5 mt-md-0">
                  <h3><span class="style-change">welcome</span> <br>to Candy Funhouse</h3>
                  <p class="pt-3">Candy is our name, sweets of all kinds are our game!

                          Our goal is to add a touch of sweetness to our customers’ lives. We bring you a huge variety of quality candy as well as the best service you’ve ever seen in a candy experience. Our team of friendly customer service staff are always positive and uplifting, showcasing that sweet times are what Candy Funhouse is all about.

                          </p>
                  <p>Sweet times live here!

                          We aren’t your ordinary, average candy store and we aren’t just bulk candy distributors either. We’re creative minds who collaborate in the sweet name of candy! We’re the candy experts (no, really—we are), sweet treat fanatics, skilled fun-gineers, and candy connoisseurs. Our goal is to make everyone’s life a little bit sweeter. We seek out and select the very best, most fresh candy variety you can imagine.</p>
                  <a href="#" class="template-btn mt-3">book a table</a>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- Welcome Area End -->

<!-- Dishes Area Starts -->
<div class="deshes-area section-padding">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <div class="section-top2 text-center">
                  <h3>Our <span>special</span> Candies</h3>
                  <p><i>Beast kind form divide night above let moveth bearing darkness.</i></p>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-lg-5 col-md-6 align-self-center">
              <h1>01.</h1>
              <div class="deshes-text">
                  <h3><span>Albanese</span><br>Eggstravagant Gummies</h3>
                  <p class="pt-3">These delicious gummi bears are the perfect addition to a Easter Egg Huny. Available just for the season be sure to grab them while supplies last and really add something extra special to your next event!</p>
                  <span class="style-change">$12.00</span>
              </div>
          </div>
          <div class="col-lg-5 offset-lg-2 col-md-6 align-self-center mt-4 mt-md-0">
              <img src="assets/images/candy1.png" alt="" class="img-fluid">
          </div>
      </div>
      <div class="row mt-5">
          <div class="col-lg-5 col-md-6 align-self-center order-2 order-md-1 mt-4 mt-md-0">
              <img src="assets/images/candy2.png" alt="" class="img-fluid">
          </div>
          <div class="col-lg-5 offset-lg-2 col-md-6 align-self-center order-1 order-md-2">
              <h1>02.</h1>
              <div class="deshes-text">
                  <h3><span>Airheads</span><br>Candy 60 Bars</h3>
                  <p class="pt-3">Airheads Candy is a sweet blast from the past. These delicious taffy candies in assorted flavours are just as yummy as you remember them. Enjoy this bulk candy pack of Airheads Candy at your next get together and think of the good ole days!</p>
                  <span class="style-change">$12.00</span>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- Dishes Area End -->

