
    <!-- Banner Area Starts -->
    <section class="banner-area text-center">
      <div class="container">
          <div class="row">
              <div class="col-lg-12">
                  <h6>the most interesting Candies in the world</h6>
                  <h1>Discover the <span class="prime-color">flavors</span><br>
                  <span class="style-change">of <span class="prime-color">Candy</span>funhouse</span></h1>
              </div>
          </div>
      </div>
  </section>
  <!-- Banner Area End -->
  <!-- Welcome Area Starts -->
<section class="welcome-area section-padding2">
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-6 align-self-center">
                  <div class="welcome-img">
                      <img src="assets/images/welcome-bg.png" class="img-fluid" alt="">
                  </div>
              </div>
              <div class="col-md-6 align-self-center">
                  <div class="welcome-text mt-5 mt-md-0">
                      <h3><span class="style-change">welcome</span> <br>to Candy FunHouse</h3>
                      <p class="pt-3">Toronto is sweet on The Candy Bar, the top spot to stop for imported candies, hand-crafted chocolates and a wide assortment of unique treats. Servicing parties, corporate events, weddings and candy-fiends.

                           Don't see what you want? Call us directly and we'll custom pack a box of goodies for you.

                           Proudly Canadian 🇨🇦

                           FREE In-Store Pick Up

                           $18 Local Delivery in Toronto for Gift Baskets, Candy Cakes, and Large Orders. Custom shipping quotes outside the zone are available based on the postal code the gift is going to!</p>
                      <a href="#" class="template-btn mt-3">book a table</a>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- Welcome Area End -->

  <!-- Food Area starts -->
  <section class="food-area section-padding">
          <div class="container">
              <div class="row">
                  <div class="col-md-5">
                      <div class="section-top">
                          <h3><span class="style-change">we sell</span> <br>Delicious Candies</h3>
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-4 col-sm-6">
                      <div class="single-food">
                          <div class="food-img">
                              <img src="assets/images/food1.jpg" class="img-fluid" alt="">
                          </div>
                          <div class="food-content">
                              <div class="d-flex justify-content-between">
                                  <h5>Atomic Fireball</h5>
                                  <span class="style-change">$24</span>
                              </div>
                              <p class="pt-3">Atomic Fireball: Even the name is hot, hot, hot! It's got the strongest,
                                   hottest cinnamon flavour. When you pop it in your mouth,  the taste transforms into a sweet, long lasting candy.
                               </p>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-4 col-sm-6">
                      <div class="single-food mt-5 mt-sm-0">
                          <div class="food-img">
                              <img src="assets/images/food2.jpg" class="img-fluid" alt="">
                          </div>
                          <div class="food-content">
                              <div class="d-flex justify-content-between">
                                  <h5>efrutti Gummi Candy</h5>
                                  <span class="style-change">$2</span>
                              </div>
                              <p class="pt-3">eFrutti Gummi Bracelet Candy takes candy bling to a whole new sweet level. Comes in 6 falvours.</p>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-4 col-sm-6">
                      <div class="single-food mt-5 mt-md-0">
                          <div class="food-img">
                              <img src="assets/images/food3.jpg" class="img-fluid" alt="">
                          </div>
                          <div class="food-content">
                              <div class="d-flex justify-content-between">
                                  <h5>Koala Jumbo Sour Suckers</h5>
                                  <span class="style-change">$1.33</span>
                              </div>
                              <p class="pt-3">Holland's Koala Red Bandy Jumbo Sour Suckers are a classic retro candy we all love.</p>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-4 col-sm-6">
                      <div class="single-food mt-5">
                          <div class="food-img">
                              <img src="assets/images/food4.jpg" class="img-fluid" alt="">
                          </div>
                          <div class="food-content">
                              <div class="d-flex justify-content-between">
                                  <h5>Hershey's Kisses</h5>
                                  <span class="style-change">$14.50</span>
                              </div>
                              <p class="pt-3">They're perfect for filling plastic eggs and Easter candy dishes.</p>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-4 col-sm-6">
                      <div class="single-food mt-5">
                          <div class="food-img">
                              <img src="assets/images/food5.jpg" class="img-fluid" alt="">
                          </div>
                          <div class="food-content">
                              <div class="d-flex justify-content-between">
                                  <h5>Milk Chocolate Toonies</h5>
                                  <span class="style-change">$8.50</span>
                              </div>
                              <p class="pt-3">These Milk Chocolate Toonies are so good that some might accept them instead of money.</p>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-4 col-sm-6">
                      <div class="single-food mt-5">
                          <div class="food-img">
                              <img src="assets/images/food6.jpg" class="img-fluid" alt="">
                          </div>
                          <div class="food-content">
                              <div class="d-flex justify-content-between">
                                  <h5>Milka Alpine Milk Peanut Crispy Caramel</h5>
                                  <span class="style-change">$11.50</span>
                              </div>
                              <p class="pt-3">Milka is one of Europe's finest chocolate bars. The newest bar is the Milka Peanut
                                   Crispy Caramel Bars made with fresh Alpine Milk combined with delicious peanuts and premium chunks of caramel. How can we resist?</p>
                                   <Br>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </section>
      <!-- Food Area End -->

       <!-- Javascript -->
  <script src="assets/js/vendor/jquery-2.2.4.min.js"></script>
    <script src="assets/js/vendor/bootstrap-4.1.3.min.js"></script>
  <script src="assets/js/vendor/wow.min.js"></script>
  <script src="assets/js/vendor/owl-carousel.min.js"></script>
  <script src="assets/js/vendor/jquery.datetimepicker.full.min.js"></script>
  <script src="assets/js/vendor/jquery.nice-select.min.js"></script>
  <script src="assets/js/main.js"></script>

